<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Employee</title>
</head>
<body>
<div>
    <h3>Employee Directory</h3>
    <hr>
    <p>Save Employee</p>

    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{firstName}" placeholder="First name" />

        <input type="text" th:field="*{lastName}" placeholder="Last name" />

        <input type="email" th:field="*{email}" placeholder="email" />

        <button type="submit">Save</button>

    </form>
    <hr>
    <a th:href="@{/employees/list}">Back to Employees List</a>
</div>


</body>
</html>